{
    "presets": ["@babel/env", "@babel/react"],
    "plugins": [
        "@babel/plugin-transform-runtime",
        [
            "module-resolver",
            {
                "alias": {
                    "@": "./src",
                }
            }
        ]
    ]
}
